{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="menu__top">
        <a href="" class="menu__top__button">Jouer<a>
    </div>
    <div class="menu__bottom">
        <a href="" class="menu__bottom__button">Top catégories<a>
        <a href="" class="menu__bottom__button">Quizz fait pour vous<a>
        <a href="" class="menu__bottom__button">Derniers Quizz sortis<a>
        <a href="" class="menu__bottom__button">Résultats de vos amis<a>
    </div>
{% endblock %}
