{% extends 'base.html.twig' %}

{% block title %}Vos amis{% endblock %}

{% block body %}
    <h1>Vos amis</h1>
    <form id="recherche">
        Rechercher :
        <input type="text" name="pseudo">
    </form>
    <ul id="ajoutsAmis">
        {{ include('amis/_ajoutAmis.html.twig') }}
    </ul>
    <ul id="listeAmis">
        {{ include('amis/_listeAmis.html.twig') }}
    </ul>
    {% block javascripts %}
    <script src="{{ asset('js/script_amis.js') }}"></script>
    {% endblock %}
{% endblock %}
