<footer>
    <div>
        <ul>
            <li>Politique de confidentialité</li>
            <li>Qui sommes-nous ?</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="footer__logo">
        <a href="{{ path('app_menu') }}" class="footer__logo__img">Logo</a>
    </div>
    <div class="footer__copyright">
        © Copyright Saliou Théo
    </div>
</footer>